name: Library Integration
on:
  push:
    branches:
      - 'development'
      - 'feature/*'

env:
  TECHNOLOGY: 'Java_Maven'
  REPO: ${{ github.repository }}
  REPO_BRANCH: ${{ github.ref }}
  ENV_PROFILE: 'properties'
  PROFILE: 'alm-one-pro'
  PROFILE_FILE: 'sgt-config-pro.env'

jobs:
  mvn-build:
    name: Maven build
    runs-on: alm-nextgen-runner
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Set global environment variables for workflow
        uses: santander-group/action0@main
        with:
          token:    ${{ secrets.ACTIONS_PA }}
          branch:   'main'
          filename: ${{ env.PROFILE_FILE }}
          cleanup:  'true'
          profile: ${{ env.PROFILE }}
      - name: Set profile environment variables for workflow
        uses: santander-group/load-env-vars-action@main
        with:
          repository: ${{ env.REPO }}
          token: ${{ secrets.ACTIONS_PA }}
          branch: ${{ env.REPO_BRANCH }}
          directory: 'envs'
          profile: ${{ env.ENV_PROFILE }}
          cleanup: 'false'
      - name: Build with Maven
        run: "./mvnw clean verify"

  sonar:
    needs: mvn-build
    name: SonarQube
    runs-on: alm-nextgen-runner
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Set global environment variables for workflow
        uses: santander-group/action0@main
        with:
          token:    ${{ secrets.ACTIONS_PA }}
          branch:   'main'
          filename: ${{ env.PROFILE_FILE }}
          cleanup:  'true'
          profile: ${{ env.PROFILE }}
      - name: Set profile environment variables for workflow
        uses: santander-group/load-env-vars-action@main
        with:
          repository: ${{ env.REPO }}
          token: ${{ secrets.ACTIONS_PA }}
          branch: ${{ env.REPO_BRANCH }}
          directory: 'envs'
          profile: ${{ env.ENV_PROFILE }}
          cleanup: 'false'
      - name: Generate report files with Maven
        run: "./mvnw clean verify"
      - name: SonarQube - Setting environments
        uses: santander-group/alm-sonar-instance@main
        id: sonar-data
        with:
          sonar-instance: ${{ env.SONAR_ID }}
      - name: SonarQube - Scan and QG
        uses: santander-group/alm-nxt-gen-sonar@main
        timeout-minutes: 15
        with:
          sonar-token: ${{ secrets[steps.sonar-data.outputs.sonar-token] }}
          sonar-url: ${{ steps.sonar-data.outputs.sonar-url }}
          sonar-maven-plugin: ${{ steps.sonar-data.outputs.sonar-maven-plugin }}
          sonar-project-key: ${{ env.SONAR_PROJECT_KEY }}
          sonar-properties: ${{ env.SONAR_PROPERTIES }}
          sonar-report-path: ${{ env.SONAR_REPORT_PATH }}
      - name: SonarQube - Create annotation
        if: ${{ failure() }}
        shell: bash
        run: echo "::error::Result Sonar Analysis FAILED"

  maven-repository-upload:
    needs: sonar
    name: Nexus artifact upload
    runs-on: alm-nextgen-runner
    if: always() && needs.mvn-build.result == 'success'
    steps:
      # self-hosted cache pending
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Set global environment variables for workflow
        uses: santander-group/action0@main
        with:
          token: ${{ secrets.ACTIONS_PA }}
          branch: 'main'
          filename: ${{ env.PROFILE_FILE }}
          cleanup: 'true'
          profile: ${{ env.PROFILE }}
      - name: Publish package
        env:
          SGT_DESPLOYSGTPRO_USER_NEXTGEN: ${{ secrets.SGT_DESPLOYSGTPRO_USER_NEXTGEN }}
          SGT_DESPLOYSGTPRO_PASSWORD_NEXTGEN: ${{ secrets.SGT_DESPLOYSGTPRO_PASSWORD_NEXTGEN }}
        run: "./mvnw -X clean deploy"